#container{
    width:60vw;
    margin:0 auto;
    #grid-container{
        display:grid;
        margin:0 auto;
        margin-top:20vh;
        gap:0.1rem;
        width: 60vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        div{
            text-align:center;
            border: 1px solid black;
        }
}
}
